
body {
    background-color: darkolivegreen;
    color: white;
}

#add {
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

#add:hover {
    background-color: white;
    color: lightgreen;
}

ul {
    color: white;
    list-style-type: circle;
}

h2 {
    color: lightgreen;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-style: italic;
    margin-left: 20px;
}
